* {
 
    padding:0;  
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    

}

header {

    background-color: #191919;
}

header img {

    height: 10vh;
    width: auto;
    border-radius:50%;
    margin-right: 10px;
}

.beginning {

    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}


header nav {

    display:flex;
    align-items:center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    padding: 45px 8% 0 8%;

}

header h1 {

    color: white;
}


header h1 span {

    color: cadetblue;
}

header nav a {

    margin: 5px;
    
}

nav button {

  list-style-type:none; 
  display:inline-block;
  padding: 10px 20px;

}




.content {

    
    
    padding: 50px;
    background-color: #191919;
    width:100%;
    color:white;
    min-height: 33vh;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;

}

h2 {

    color: white;
    margin: 20px 0;
}

#about-me {

    

}

#about-me p {

    width:50vw;
    padding: 12px;


}

.realtor {

    color: blue;
    padding: 5px;
}


.div-image {

    display:flex;
    align-items:center;
    justify-content: space-around;
    
    width: 60vw;

}


.div-image p {

    color:cadetblue;
    font-size: smaller;
    text-align: center;
    margin-top: 10px;
}

#projects div {

    border:solid darkblue 3px;
    transition: .4s;
}


#projects div:hover {

    border: solid 5px gold;
    transform: scale(1.2);
   
}


#contact-me {

    display:block;
    text-align: center;
}







button {

    background-color: cadetblue;
    color: white;
    padding:10px;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    transition: .4s;
    

  }

button:hover {

    background-color: transparent;
    border: 2px solid gold;
    cursor: pointer;
}

footer {

    background-color: #191919;
    color:white;
    padding: 30px;
    text-align: center;



}

footer span {

    color:cadetblue;
    font-weight: bolder;
}

